<?xml version="1.0" encoding="UTF-8"?>
<module>
	<author>Intermesh B.V.</author>
	<email>info@intermesh.nl</email>
	<version>0.1</version>
	
	<languages>
		
		 <language type="en">
				<name>Platform Core</name>
				<shortDescription>
					Contains base functionality of the GroupOffice platorm
				</shortDescription>
				<longDescription>
					Contains base functionality of the GroupOffice platorm
				</longDescription>
				<images>
					
				</images>
			</language>
		
	</languages>
</module>