build
vendor
/config.php
/config.php.bak
data
nbproject/private
/docs/apigen/
composer.lock


# Ignore vendor folders except the standard one
GO/Modules/*
!GO/Modules/GroupOffice
!GO/Modules/Tutorial
!GO/Modules/README.TXT
/tests/config.php
