<?php
return [
		'IFW\Config' => [
				'productName' => 'Group-Office 7.0',
				'dataFolder'=>dirname(__FILE__).'/data'
				//'cacheClass' => "\\IFW\\Cache\\None" //set to none for development
		],
		'IFW\Db\Connection' => [
				'user' => 'go7',
				'port' => 3306,
				'pass' => 'secret',
				'database' => 'go7',
				'host' => 'localhost',
		],
		'IFW\Validate\ValidatePassword' => [
			'enabled' => true
		],
		
//		'IFW\Debugger'=> [
//				//Warning: enabling this causes the browser to consume a lot of memory. Use of CTRL + F7 is adviced.
//				//always enable debugger. Client can also enable it by sending HTTP header X-Debug=1. Open the launcher and press CTRL+F7 in the client to enable this.
//				'enabled' => true 
//		],
//		
//		 'IFW\Db\Query' => [
//				 //enables debug on all queries
//				 'debug' => true
//		 ]
];
