<?php
return [
		'IFW\Config' => [
				'productName' => 'Group-Office 7.0',
				'dataFolder' => '/home/groupoffice-server/foo.example.com'
				//'cacheClass' => "\\IFW\\Cache\\None" //set to none for development
				//'cacheClass' => \IFW\Cache\Apcu::class //Enable if you have apcu support in php
		],
		'IFW\Db\Connection' => [
				'user' => 'go7',
				'port' => 3306,
				'pass' => 'secret',
				'database' => 'go7',
				'host' => 'localhost',
		],
		
//		Needed on MySQL < 5.7 because ONLY_FULL_GROUP_BY is buggy
//		'IFW\Db\PDO' => [
//				'sqlMode' => 'STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'
//		],
		
		'IFW\Validate\ValidatePassword' => [
			'enabled' => true
		],
		

		// Will make sure all mail will be sent to this address for debugging
		//"GO\Core\Email\Model\Mailer" => [
		//	"debugEmail" => 'test@intermesh.nl'	
		//],
		
		'IFW\Debugger'=> [
				//always enable debugger. Client can also enable it by sending HTTP header X-Debug=1. Open the launcher and press CTRL+F7 in the client to enable this.
				'enabled' => false,
				'enabledSections' => [					
//						\IFW\Debugger::SECTION_INIT, 
//						\IFW\Debugger::SECTION_ROUTER,
						\IFW\Debugger::SECTION_CONTROLLER
				],
				'enabledTypes' => [
						\IFW\Debugger::TYPE_GENERAL, 
//						\IFW\Debugger::TYPE_SQL, 
						'imap', 
						'dav'
						],
		],

//		
//		 'IFW\Orm\Query' => [
//				 //enables debug on all queries
//				 'debug' => true
//		 ]
];
