<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	bootstrap="bootstrap.php"
	colors="true"
	processIsolation="false"
	backupGlobals="false"
	backupStaticAttributes="false"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true">

	<testsuites>
		<testsuite name="go-ifw">
			<directory>./lib/IFW</directory>
		</testsuite>
		
		<testsuite name="go-core">
			<directory>./GO/Core</directory>
		</testsuite>
		
		<testsuite name="go-calendar">
			<directory>./GO/Modules/GroupOffice/Calendar</directory>
		</testsuite>
		
		<testsuite name="go-test">
			<directory>./GO/Modules/GroupOffice/Test</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./</directory>
			<exclude>
				<directory>./GO/Utils</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>