<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	bootstrap="bootstrap.php"
	colors="true"
	processIsolation="false"
	backupGlobals="false"
   backupStaticAttributes="false">

    <testsuites>
        <testsuite name="go-calendar">
            <directory>GO/Modules/GroupOffice/Calendar</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Utils</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>